<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p>Instructions: Enter a phrase and we will translate it to Pig Latin for you.</p>
    <form method = "post" action = "/piglatin">
      Enter your phrase: <input type = "text" name = "user_phrase">
      <input type = "submit">
    </form>
  </body>
</html>
